# Caddyfile
{
	email benlbttm0@gmail.com
	http_port {$CLIENT_HTTP_PORT:80}
	https_port {$CLIENT_HTTPS_PORT:443}

	# certs with DNS-01 ACME validation
	# ref: https://webenclave.com/2024/11/07/setting-up-a-secure-local-network-with-caddy-cloudflare-dns-and-lets-encrypt/
	acme_dns cloudflare {$CLOUDFLARE_API_TOKEN}
}

# === wg-easy: http ===
http://localhost {
	# # NOTE: wg-easy can't do http anyways
	# reverse_proxy wg-easy:80
	redir https://{host}{uri}
}

# === wg-easy: https ===
# NOTE: cant do IP addresses with default tls, maybe with lets encrypt?
# https://10.8.0.1 {
# https://123.50.134.19 {
https://localhost {
	tls internal
	# tls internal {
	# 	on_demand
	# }
	reverse_proxy wg-easy:80
}

# === obsidian-livesync ===
# NOTE: cannot have http and https on same port
# http://localhost:5985,
# http://10.8.0.1:5985 {
https://vpn.grumpy-gnome.club:5985 {
	reverse_proxy host.docker.internal:5984
}

https://grumpy-gnome.club:7074 {
	reverse_proxy host.docker.internal:8096
}
